@font-face {
    font-family: 'Grapenut';
    src: url('./GrapeNuts-Regular.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

.content-area-header {
    font-family:Grapenut;
    font-size:45px;
    color:white;
    background-color:rgb(241, 9, 71);
    margin:0;
    display:flex;
    justify-content:center;
    padding: 20px;
    gap:20px;
}

.content-area-items {
    display:flex;
    flex-direction:column;
    gap: 10px;
    align-items:center;
    justify-content:center;
}

.add-button-container {
    display:flex;
    align-items:center;
    justify-content:center;
}

.content-area-container {
    padding:20px;
}