#project-modal {
    width: 400px; /* Increased from 300px to 400px */
    max-width: 90%; /* Optional: for better responsiveness on smaller screens */
    border: 1px solid #000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#project-modal h2 {
    margin-top: 0;
}

#project-modal input, #project-modal button {
    display: block;
    width: calc(100% - 22px); /* Adjusting width to account for padding and borders */
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

#project-modal button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#project-modal button:hover {
   
background-color: #0056b3;
}